<router-outlet></router-outlet>
<div class="container">
  <div class="row">
    <div class="col"> <mat-card class="m-5 shadow-lg"> <mat-card-header class="justify-content-center pb-3 mb-3">
          <mat-card-title>
            <h1>The Future Of Banking Is Here</h1>
          </mat-card-title> </mat-card-header>
        <div class="container p-3 mx-2">
          <div class="row">
            <div class="col"> <img class="w-100 rounded-corners" src="../../../assets/Diverse-Business-People.png" alt="" /> </div>
            <div class="col">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <p> Take control of your finances with our easy-to-use banking app and start simplifying your life
                      today. Create an account, view and update your profile, create and manage multiple bank accounts,
                      and transfer money between them with just a few clicks. Stay up-to-date with notifications for
                      incoming money requests and view your transaction history to track your spending. </p>
                  </div>
                </div>
                <div class="row me-5">
                  <div class="btn-container col text-end"> <app-button (btnClick)="onClick()">Sign Up!</app-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card> </div>
  </div>
</div>