<!-- footer covers width of page -->
<footer class="page-footer w-100">
  <div class="container border-top">
    <div class="row">
      <div class="col-md-12 py-3">
        <p class="text-center mb-3 fs-5 fw-bolder">Connect with us</p>
        <!-- center content set list to flex with no list markers -->
        <ul class="socials list-inline mb-5 d-flex justify-content-center">
          <li class="mx-3">
            <a><i class="fa-brands fa-twitter fa-2x"></i></a>
          </li>
          <li class="mx-3">
            <a><i class="fa-brands fa-linkedin fa-2x"></i></a>
          </li>
          <li class="mx-3">
            <a><i class="fa-brands fa-github fa-2x"></i></a>
          </li>
          <li class="mx-3">
            <a><i class="fa-brands fa-youtube fa-2x"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center pt-4 d-flex justify-content-center align-items-center">
    <p class="fst-italic fs-6 mb-0">&copy;2022 TBD Bank </p>
  </div>
  <div class="d-flex justify-content-center">
  <img src="../../../assets/svg/tbdsvg.svg" alt="logo" class="logo opacity-25" />
</div>
</footer>
